<!DOCTYPE html>
<html>
<head>
  <title>Grocery Network - <%= controller.action_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='wrapper'>
    <div class='header'>
      <h1>Foodworks</h1>
      <p>Your online grocery</p>
    </div>
    <div id='account'>
        <% if current_user %>
        <span>Welcome, <%= current_user.name %></span>
          <%= link_to 'Logout', logout_path, id: 'login' %>
        <% else %>
          <%= link_to 'login', login_path, id: 'logout' %>
        <% end %>
      </div>
    <p style='color: green'><%= flash[:notice] %></p>
    <div class="sidebar">
      
    </div>

    <div class="main">
      <%= yield %>
    </div>

    <div class="footer">
      FoodWorks Online Grocery<br/>
      A Rails Jumpstart Project
    </div>
  </div>

</body>
</html>
